* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
.main {
  background-color: #8fbfb6;
  border: 2px solid #34736C;
  border-radius: 10px;
  overflow: hidden;
}
div {
  width: 250px;
  height: 150px;
  background: url("../img/defult.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #34736C;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #34736C;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: .7s all ease-in-out;

}
div:hover{
  transform: scale(1.1);
}
img {
  width: 250px;
  height: 150px;
  pointer-events: none;
  opacity: 0;
  border-radius: 5px;
  transition: .7s all ease-in-out;

  
}
.headerWord {
  font-size: 50px;
  letter-spacing: 15px;
  color: #34736C;
  text-shadow:10px 0px 10px #34736C;
}
.btn {
  letter-spacing: 10px;
  transition: 1s all ease-in-out;
  background-color: #34736C;
  border-radius: 15px;

}
.btn:hover{
background-color: #8FBFB6;
color: #000;
font-size: larger;
}